
p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#maprow {
    height: 100%;
    padding-top: 0px;
    margin-top: 0px;
}
#map1 {
    width: 100%;
    height: 100%;
    padding: 0px 0px;
}
:focus {outline:0 !important;}

.collapsible {
  margin-bottom: 0px;
  padding: 0px 20px;
  background-color: #f71e5b;
  border: 1px solid #f71e5b;
  opacity: 1.0;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: left;
  outline: none;
  overflow-y: auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.active, .collapsible:hover {
  background-color: #88daff;
  border: 1px solid #88daff;
  color: #f71e5b;
}

.content {
  padding: 0px 20px;
  max-height: 0;
  overflow: auto;
  transition: max-height 0.2s ease-out;
  background-color: rgba(255, 255, 255, 1.0);
  color: rgb(59, 59, 59);
  margin-bottom: 5px;
  text-align: left !important;
}

.content:active {
  border-top: 1px solid #f71e5b;
}

.collapsible:after {
  font-size: 13px;
  color: white;
  float: right;
}

.short-col {
  position: absolute;
  max-height: 85vh;
  overflow-y: auto;
  top: 10vh;
  left: 3vw;
  width: 20vw;
  min-width: 150px;
  z-index: 1000;
  padding: 0 0px;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.btn-primary {
  color: #f71e5b;
  margin-top: 20px;
  width: 20vw;
}

.title {
  width: 500px;
  height: 13vh;
  margin-left: 5vw;
}

.circleborder {
  border: 2px solid #f71e5b;
  border-radius: 100%;
  display: inline-block;
  }

.auth_img {
  width:125px;
  height:125px;
}

.propic {
  margin-bottom: 20px;
}

.icon-container {
  display: inline-block;
  cursor: pointer;
  padding-right: 10px;
  padding-top: 2px;
}

.bar1, .bar2, .bar3 {
  width: 27px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 8px);
  transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.mob_nav {
  display: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.mob_collapsible {
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 0px 30px;
  background-color: rgb(99, 99, 99);
  border: 1px solid rgb(99, 99, 99);
  color: #88daff;
  width: 100%;
  text-align: left;
  outline: none;
  overflow-y: auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.mob_content {
  padding: 0px 30px;
  max-height: 0;
  overflow: auto;
  transition: max-height 0.2s ease-out;
  background-color: rgba(255, 255, 255, 1.0);
  color: rgb(59, 59, 59);
  margin-bottom: 5px;
  text-align: left !important;
}

.mob_collapsible:after {
  font-size: 13px;
  color: white;
  float: right;
}

.mob_nav button.mob_collapsible {
  display: none;
}

.mob_nav.responsive {
  z-index: 1002;
}

@media screen and (max-width: 600px) {
  .mob_nav {
    display: inline;
    width: 100%;
    height: 39px;
    background-color: #f71e5b;
  }
  .mob_nav button.mob_collapsible {display: none;}
  .mob_nav content {display: none;}
  .short-col {display: none; }
  .mob_nav .icon-container { 
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1003;
  }
}

@media screen and (max-width: 600px) {
  .mob_nav.responsive {
    width: 100%;
  }
  .mob_nav.responsive button.icon { 
    display: inline;
    position: absolute;
    z-index: 1002;
    right: 0;
    top: 0;
  }
  .mob_nav.responsive button.mob_collapsible {
    z-index: 1001;
    display: block;
    position: relative;
    text-align: left;
  }
  .mob_nav.responsive content {
    width: 100%;
  }
}