<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta property="og:image" content="../static/img/thumbnail.png"/>
    <link rel="image_src" href="../static/img/thumbnail.png"/>
    
    <!-- CSS -->
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://www.geos.ed.ac.uk/~s1434165/static/css/grid.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Creating collapsible content using JS -->
    <script type="text/javascript" src="../static/js/collapsible.js"></script>
    <script type="text/javascript" src="../static/js/responsive_nav_bar.js"></script>
    <script type="text/javascript" src="../static/js/mob_collapsible.js"></script>
    
    <title>{% block title %} {% endblock %}</title>
</head>

{% block content %} {% endblock %}