{% extends 'base.html' %}

{% block title %} CV Map {% endblock %}

{% block content %}

  <body>
        <div class="row" id="maprow">

            <div class="short-col" id="info-section">
              <div class="propic">
                <div class="circleborder">
                  <img src="../static/img/me_round.png" alt="Picture of author" class="auth_img">
                </div>
                <h2 style=color:#fff>Jess Roberts</h2>
              </div>
              <div class="information_nav" id="topNav">

                <!-- 1st Collapsible -->
                <button form="none" class="collapsible" onclick="collapsibleToggle(this)"><h4>About</h4></button>
                <!-- content -->
                <div class="content" id="expl-div"><br>
                  <p>Hi there! Welcome to my CV map. This is a site designed to tell you all about me and my projects. Information contained here will take you from where I was born to where I studied and my work behind.</p>
                </div>

                <!-- 2nd Collapsibles -->
                <button form="none" class="collapsible" onclick="collapsibleToggle(this)"><h4>How To</h4></button>
                <!-- content -->
                <div class="content" id="how-to-div"><br>
                  <p>Each point on the map represents either where I was based at the time, or the subject location of a project. Feel free to move around the map and click on the icons to uncover their information!</p>
                </div>

                <!-- 3rd Collapsibles -->
                <button form="none" class="collapsible" onclick="collapsibleToggle(this)"><h4>More Info</h4></button>
                <!-- content -->
                <div class="content" id="more-info-div" onclick="collapsibleToggle(this)"><br>
                  <p>If you'd like to find about more, you can visit my <a href="https://www.linkedin.com/in/jess-c-roberts/" target="_blank" style=color:#f71e5b>LinkedIn</a> or explore some of the code I have up on my <a href="https://github.com/jess-c-roberts" target="_blank" style=color:#f71e5b>GitHub</a> (the code underlying this site can be found<a href="https://github.com/jess-c-roberts/cv-map-app" target="_blank" style=color:#f71e5b>here</a>).</p>
                </div>

                <!-- 4th Collapsibles -->
                <a href=map-portfolio><button form="none" class="collapsible"><h4>Map Portfolio</h4></button></a>
              </div>
                  
            </div>

            <!-- MOBILE VERSION -->
            <div class="mob_nav" id="mob_nav">
              <h4 style=margin-left:30px;color:#fff>CV Map - Jess Roberts</h4>
              <div form="none" class="icon-container" onclick="navRespond(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
              </div>
                <!-- 1st Collapsible -->
                <button form="none" class="mob_collapsible" onclick="collapsibleToggle(this)"><h4>About</h4></button>
                <!-- content -->
                <div class="mob_content" id="expl-div"><br>
                  <p>Hi there! Welcome to my CV map. This is a site designed to tell you all about me and my projects. Information contained here will take you from where I was born to where I studied and my work beyond.</p>
                </div>

                <!-- 2nd Collapsibles -->
                <button form="none" class="mob_collapsible" onclick="collapsibleToggle(this)"><h4>How To</h4></button>
                <!-- content -->
                <div class="mob_content" id="how-to-div"><br>
                  <p>Each point on the map represents either where I was based at the time, or the subject location of a project. Feel free to move around the map and click on the icons to uncover their information!</p>
                </div>

                <!-- 3rd Collapsibles -->
                <button form="none" class="mob_collapsible" onclick="collapsibleToggle(this)"><h4>More Info</h4></button>
                <!-- content -->
                <div class="mob_content" id="more-info-div"><br>
                  <p>If you'd like to find about more, you can visit my <a href="https://www.linkedin.com/in/jess-c-roberts/" target="_blank" style=color:#f71e5b>LinkedIn</a> or explore some of the code I have up on my <a href="https://github.com/jess-c-roberts" target="_blank" style=color:#f71e5b>GitHub</a> (the code underlying this site can be found <a href="https://github.com/jess-c-roberts/cv-map-app" target="_blank" style=color:#f71e5b>here</a>).</p>
                </div>

            </div>
            <!-- Map div filled in using Jinja2 templating -->
            <div class="container-fluid span-1-of-2" id="map1">{% include "map.html" %}</div>
          </body>
          
</html> 
{% endblock %}